
# Ignorar módulos de Node :) 
node_modules/

# Ignorar archivos producidos por el build 
dist/

# Ignorar carpeta de logs 
logs/

# Variables de entorno 
.env

# Ignorar archivos producidos por MongoDB (raíz del proyecto) 
/mongo/

# Ignorar archivos producidos por PostgreSQL (raíz del proyecto) 
/postgres/
